@model DealSe.Areas.Admin.FormModels.AreaFormModel

@Html.ValidationSummary(true)
@Html.AntiForgeryToken()
@Html.HiddenFor(Model => Model.AddedDate)
@Html.HiddenFor(Model => Model.AreaId)
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="status">Country Name</label>
            @Html.DropDownList("CountryId", new SelectList(ViewBag.CountryList, "Value", "Text"), "Select Country", new { @class = "select2" })
            @Html.ValidationMessageFor(model => model.CountryId)

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="status">State Name</label>
            @Html.DropDownList("StateId", new SelectList(ViewBag.StateList, "Value", "Text"), "Select State", new { @class = "select2" })
            @Html.ValidationMessageFor(model => model.StateId)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="status">City Name</label>
            @Html.DropDownList("CityId", new SelectList(ViewBag.CityList, "Value", "Text"), "Select City", new { @class = "select2" })
            @Html.ValidationMessageFor(model => model.StateId)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Area Name</label>
            <label class="field-validation-error">*</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control htmlvalid trimmed txtOnly", @maxlength = "50" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Status</label>
            <div class="form-group">
                <div class="make-switch statusswitch" data-on="status" data-off="status" data-on-label="Active" data-off-label="Inactive">
                    @Html.CheckBoxFor(Model => Model.Active, new { @checked = "checked" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row center">
    <button type="submit" id="btnSubmit" class="btn btn-success">
        <i class="glyphicon glyphicon-save"></i>
        Save
    </button>
    <a href="@Url.Action("Index", "Area", new { Area = "Admin" })" class="btn btn-default">
        <i class="glyphicon glyphicon-remove"></i>
        Cancel
    </a>
</div>
@await Html.PartialAsync("_FillCommonDropdownListScript")