@*View to show event ticket type details*@
@model DealSe.Areas.Admin.ViewModels.CountryViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home",new { Area = "Admin" })"><i class="entypo-home"></i>Home</a>
    </li>
    <li>
        <i class="entypo-globe"></i>Countries
    </li>
</ol>
<h2>Countries</h2>
<br />
@if (TempData["Error"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger"><strong>Oops!</strong><br /><span> @TempData["Error"]</span></div>
        </div>
    </div>
}
else if (TempData["Success"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success"><strong>Success!</strong> @TempData["Success"]</div>
        </div>
    </div>
}

<div class="row user-dactive">
    <div class="col-xs-12 col-sm-8">
        <a href="#" class="btn btn-green btn-sm btn-icon icon-left statusbutton" data-statuslabel="Active">
            <i class="entypo-check"></i>
            Active
        </a>
        <a href="#" class="btn btn-orange btn-sm btn-icon icon-left statusbutton" data-statuslabel="Inactive">
            <i class="entypo-cancel"></i>
            Inactive
        </a>
    </div>
    <div class="col-xs-12 col-sm-4">
        <a href="@Url.Action("AddCountry", "Country", new { Area = "Admin" })" class="btn btn-primary btn-sm btn-icon icon-left adminaddbutton">
            <i class="entypo-plus"></i>
            Add Country
        </a>
    </div>
</div>
<br class="clear" />
@await Html.PartialAsync("_CountryDetails")
@await Html.PartialAsync("_DatatableCSSJSView")
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
    });
    var responsiveHelper;
    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };
    function loadData() {
        var tableContainer;
        tableContainer = $("#CountryDetails");
        tableContainer.dataTable(
            {
                "destroy": true,
                "aaSorting": [],
                "pageLength": 10,
                "bStateSave": false,
                "processing": true,
                oLanguage: {
                    sProcessing: "<div id=preloader></div>"
                },
                "serverSide": true,
                "ajax": {
                    "url": '/Admin/Country/LoadData',
                    "type": "POST",
                    "datatype": "json"
                },

                "aoColumns": [
                    {
                        mData: null, "bSortable": false, "bSearchable": false, "width": "5%",
                        "mRender": function (data, type, row) {
                            return "<div class='checkbox checkbox-replace itemclass'><input type='checkbox' id=" + row.countryId + "></div>";
                        }
                    },
                    {
                        mData: null, "bSortable": false, "bSearchable": false, "width": "10%",
                        "mRender": function (data, type, row) {
                            return '';
                        }
                    },
                    { "data": "name", "name": "name", "bSearchable": true, "autoWidth": true, "width": "30%" },
                    { "data": "displayAddedDate", "name": "displayAddedDate", "bSearchable": true,"bSortable": true, "autoWidth": true, "width": "15%" },
                    {
                        "mData": "active", "name": "active", "autoWidth": true, "width": "12%",
                        "mRender": function (data, type, row) {
                            if (row.active == true) {
                                return '<div class="label label-success">Active</div>';
                            }
                            else {
                                return '<div class="label label-inactive">Inactive</div>';
                            }
                        }
                    },
                    {
                        "mData": "Activated", "bSearchable": false, "bSortable": false, "autoWidth": true, "width": "13%",
                        "mRender": function (data, type, row) {
                            return '<a class="btn btn-blue btn-sm btn-icon icon-left" href="/Admin/Country/EditCountry/' + row.countryId + '"><i class="entypo-pencil"></i>Edit</a>';
                        }, "sClass": "view-more"
                    }
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    var info = $(this).DataTable().page.info();
                    $("td:nth-child(2)", nRow).append(info.start + iDisplayIndex + 1);
                    return nRow;
                },
                "fnDrawCallback": function () {
                    replaceCheckboxes();
                    responsivePaginationDesign();
                    checkAllCheckboxes();
                    addresponsiveTableDiv("#CountryDetails");
                },
            });
            $(".dataTables_wrapper select").select2({
                minimumResultsForSearch: -1
            });
    }
    $(window).resize(function () {
        if (window.matchMedia('(max-width: 768px)').matches) {
            responsiveTableColumn('#CountryDetails');
        }
    })

     $(".statusbutton").click(function () {
            $("#preloader").show();
            var checkedrecord = new Array();
            var checkactivestatus = $('#CountryDetails tbody tr').find(':checkbox:checked').length;
            if (checkactivestatus == 0) {

                $.alert({
                    title: 'Alert!',
                    content: 'Please select atleast one record.',
                });
            $("#preloader").hide();
            $(".checkbox-replace").removeClass("checked");
            $("#chk-1").removeAttr("checked");
            $('#CountryDetails th input[type="checkbox"]').prop("checked", false);
            $('#CountryDetails td input[type="checkbox"]').prop("checked", false);
            return false;
            }
            $('#CountryDetails tbody tr').find(':checkbox:checked').each(function (i, row) {
                var $actualrow = $(row);
                $checkbox = $actualrow;
                if ($checkbox.attr('id') != 'chk-1') {
                    checkedrecord.push($checkbox.attr('id'));
                }
            });

        if (checkedrecord.length > 0) {
            var status = $(this).data("statuslabel");
            var alertMessage = '';

            if (status == "Active")
                alertMessage = 'Are you sure you want to active record(s)?';
            else (status == "Inactive")
                alertMessage = 'Are you sure you want to inactive record(s)?';

            $.confirm({
                title: 'Confirm!',
                content: alertMessage,
                buttons: {
                    confirm: function () {
                        $.post('@Url.Action("CountryOperation", "Country", new {area="Admin"})', { checkedrecord: checkedrecord, status: status }, function (data) {
                            if (data == "Success") {
                                $("#preloader").hide();
                                window.location.href = "/admin/Country";
                            } else {
                                $("#preloader").hide();
                            }
                        });
                    },
                    cancel: function () {
                        $(".checkbox-replace").removeClass("checked");
                        $("#chk-1").removeAttr("checked");
                        $('#CountryDetails th input[type="checkbox"]').prop("checked", false);
                        $('#CountryDetails td input[type="checkbox"]').prop("checked", false);
                        $("#preloader").hide();
                    }
                }
            });
        }
    });
</script>