@*View to verify admin user's password*@
@model DealSe.Areas.Admin.FormModels.ChangePasswordFormModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="DealSe Admin Panel" />
    <meta name="author" content="" />
    <title>Reset Password | DealSe</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link href="/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    <link href="/Admin/assets/css/jquery-confirm.min.css" rel="stylesheet" />
    <link href="/Admin/assets/css/entypo.css" rel="stylesheet" />
    <link href="/Admin/assets/css/font-icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Admin/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/Admin/assets/css/neon-core.css" rel="stylesheet" />
    <link href="/Admin/assets/css/neon-theme.css" rel="stylesheet" />
    <link href="/Admin/assets/css/neon-forms.css" rel="stylesheet" />
    <link href="/Admin/assets/css/custom.css" rel="stylesheet" />
    <script src="~/Admin/assets/js/topjs.js"></script>
</head>
<body class="page-body login-page login-form-fall">
    <div class="login-container">
        <div class="login-header login-caret">
            <div class="login-content">
                <a href="index.html" class="logo">
                    <img src="~/images/Logo.jpeg" alt="DealSe" style="width:210px" />
                </a>
                <p class="description">Reset your password.</p>
            </div>
        </div>
        <div class="login-form">
            <div class="login-content">
                <form method="post" role="form" asp-area="admin" asp-controller="Home" asp-action="ChangePassword" id="form_forgot_password">
                    @Html.HiddenFor(model => model.VerificationCode)

                    @if (TempData["error"] != null)
                    {
                        <div class="form-login-error" style="display:block;">
                            <h3>Please check below error.</h3>
                            <p><strong>@TempData["error"]</strong></p>
                        </div>
                    }
                    <div class="form-steps">
                        <div class="step current" id="step-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="entypo-mail"></i>
                                    </div>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", autocomplete = "off", @placeholder = "Email Address" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="entypo-key"></i>
                                    </div>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "New Password" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-block btn-login">
                                    Submit
                                    <i class="entypo-right-open-mini"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    @*}*@
                </form>
                <div class="login-bottom-links">
                    <a href="@Url.Action("Login","Home")" class="link">
                        <i class="entypo-lock"></i>
                        Return to Login Page
                    </a>
                    <br />
                    <a href="#">ToS</a>  - <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/Admin/assets/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="/Admin/assets/js/jquery.validate.min.js"></script>
    <script src="/Admin/assets/js/main-gsap.js"></script>
    <script src="/Admin/assets/js/bootstrap.js"></script>
    <script src="/Admin/assets/js/joinable.js"></script>
    <script src="/Admin/assets/js/resizeable.js"></script>
    <script src="/Admin/assets/js/neon-api.js"></script>
    <script src="/Admin/assets/js/neon-login.js"></script>
    <script src="/Admin/assets/js/neon-custom.js"></script>
    <script src="/Admin/assets/js/neon-demo.js"></script>
    <script src="/Admin/assets/js/common.js"></script>
    <script src="/Admin/assets/js/bootstrap-switch.min.js"></script>
    <script src="~/Admin/assets/js/jquery.validate.min.js"></script>
    <script src="~/Admin/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Admin/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>